* {
  margin: 0px;
}

.wrapper {
  margin-top: 30px;
  padding: 30px;
  background-color: gray;
}

.baris-1 {
  padding: 50px;
  background-color: yellow;
}

.baris-2 {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

img {
  width: 100%;
}

.baris-3 {
  padding: 50px;
  margin-top: 20px;
  background-color: red;
}

.baris-4 {
  padding: 50px;
  margin-top: 20px;
  background-color: green;
}

.baris-5 {
  padding: 50px;
  margin-top: 20px;
  background-color: orange;
}

.baris-2-kolom-1,
.baris-2-kolom-2,
.baris-2-kolom-3,
.baris-2-kolom-4,
.baris-2-kolom-5 {
  width: 20%;
}

.baris-2-kolom-1 {
  background-color: aliceblue;
}

.baris-2-kolom-2 {
  background-color: chartreuse;
}

.baris-2-kolom-3 {
  background-color: cyan;
}

.baris-2-kolom-4 {
  background-color: aquamarine;
}

.baris-2-kolom-5 {
  background-color: chocolate;
}
